<mat-toolbar color="primary">
  App
  <button *ngIf="estaAutenticado" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Inicio</button>
    <button mat-menu-item routerLink="/mensaje">Mensajes</button>
  </mat-menu>
</mat-toolbar>
<div *ngIf="estaAutenticado then autenticado;else noautenticado"></div>
<ng-template #noautenticado>
  <h2>Iniciar sesion</h2>
  <mat-card class="card">
    <form class="form">
      <mat-form-field class="form-field">
        <input matInput type="email" name="correo" placeholder="Correo" [(ngModel)]="usuario">
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="password" name="clave" placeholder="Clave" [(ngModel)]="clave">
      </mat-form-field>
    </form>
    <p *ngIf="mensaje" >{{mensaje}}</p>
    <button mat-raised-button color="primary" (click)="autenticar()">Entrar</button>
  </mat-card>
</ng-template>
<ng-template #autenticado>
  <h2>Bienvenido</h2>
  <button mat-raised-button color="primary" (click)="cerrarSesion()">Salir</button>
  <router-outlet></router-outlet>
</ng-template>