<h2>Crear cuenta</h2>
<mat-card class="card">
  <form class="form">
    <mat-form-field class="form-field">
      <input matInput type="email" name="correo" placeholder="Correo" [(ngModel)]="usuario">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput type="password" name="clave" placeholder="Clave" [(ngModel)]="clave">
    </mat-form-field>

    <mat-form-field class="form-field">
        <input matInput type="password" name="clave2" placeholder="Clave" [(ngModel)]="clave2">
      </mat-form-field>

  </form>
  <p *ngIf="mensaje">{{mensaje}}</p>
  <button mat-raised-button color="primary" (click)="crearCuenta()">Crear cuenta</button>
  
</mat-card>