<mat-card class="card">
  <h2>Lista de mensajes</h2>

  <ul class="mensaje-list">
    <li class="mensaje-list-item" *ngFor='let mensaje of mensajes | async'>
      <div class="mensaje-col">
        <h3>{{mensaje.nombre}}</h3>
        <h4>{{mensaje.correo}}</h4>
        <p>{{mensaje.mensaje}}</p>
        <p *ngIf="mensaje.imagen"><img class="imagen" [src]="mensaje.imagen" alt="imagen"></p>
      </div>
      <div class="mensaje-col">
        <button mat-mini-fab color="warn" (click)="borrar(mensaje.key)">-</button>
      </div>
    </li>
  </ul>
</mat-card>